a {
  color: rgb(55, 0, 255);
}

/* nav div a { margin-right: 10px }
#app { background: rgba(98, 228, 185, 0.192) } */

#okta-sign-in.auth-container .okta-sign-in-header {
  border-bottom-color: rgb(0, 0, 0);
}

#okta-sign-in .o-form-theme {
  /* background: rgba(252, 241, 180, 0.212); */
  box-shadow: none;
  padding: 0 0 14px;
  border-radius: 0;
  border: none;
}

#okta-sign-in .auth-org-logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 100px;
}

#okta-sign-in.auth-container {
  font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
  color: rgb(255, 255, 255);
}

#okta-sign-in.auth-container.main-container {
  background-color: rgba(125, 194, 146, 0.349);
  border-color: #ddd #ddd #d8d8d8;
  border-radius: 10%;
}

#okta-sign-in.auth-container .button-primary {
  color: #fff;
  background-color: #000000;
  background: linear-gradient(#000305,#4aac72);
  border-color: #004b75 #004b75 #00456a;
  box-shadow: 0 1px 0 rgb(0 0 0 / 15%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
}

#okta-signin.auth-container .button-primary:active {
  background-color: #000000;
  background: linear-gradient(#000305,#4aac72);
}

#okta-signin.auth-container .button-primary:focus {
  background-color: #000000;
  background: linear-gradient(#000305,#4aac72);
}

#okta-signin.auth-container .button-primary:hover {
  background-color: #000000;
  background: linear-gradient(#000305,#4aac72);
}

.button-primary:hover {
  background-color: #000000;
  background: linear-gradient(#000305,#4aac72);
}